[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/agupta89
[access "refs/for/refs/*"]
	read = group user/agupta89
	push = group user/agupta89
	label-Code-Review = -2..+2 group user/agupta89
	label-Verified = -1..+1 group user/agupta89
	rebase = group user/agupta89
	removeReviewer = group user/agupta89
	submit = group user/agupta89
[access "refs/heads/*"]
	read = group user/agupta89
	create = group user/agupta89
	push = +force group user/agupta89
	pushMerge = group user/agupta89
[access "refs/tags/*"]
	push = +force group user/agupta89
	pushTag = group user/agupta89
	pushSignedTag = group user/agupta89
